

$bg: #ffffff;
$hover: #b1aeae;
$border:rgb(212, 208, 208);
$font-family: 'Labrada', serif;;
%flex{
    display: flex;
    align-items: center;
 }

%group{
 padding: 15px;
 font-size: 15px;
 color: white;
 font-family:  'Labrada', serif;


}
%feature{
    text-decoration: none;
                &:hover{
                    color:$hover ;
                }
}
%design{
    margin: 5px 0px;
    padding: 20px 20px;
    border-radius: 5px;
    font-size: 16px;
}
%a{
    text-decoration: none;
            color: rgba(11, 11, 230, 0.712);
            
}
%span{
    padding: 0 6px;
            border: 1px solid  none;
            border-radius: 50%;
          font-size: 9px;
        margin-right: 5px;
}