@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=La+Belle+Aurore&family=Lobster&family=Noto+Serif+Ahom&family=Poppins:wght@300;400;700;800&family=Roboto:wght@300;400;900&family=Source+Sans+Pro:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=La+Belle+Aurore&family=Labrada:wght@400;500&family=Lobster&family=Noto+Sans+Display:wght@400;500&family=Noto+Sans:wght@300;400&family=Poppins:wght@300;400;700;800&family=Roboto:wght@500;900&family=Source+Sans+Pro:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=La+Belle+Aurore&family=Labrada:wght@400;500&family=Lobster&family=Noto+Sans+Display:wght@400;500&family=Noto+Sans:wght@300;400&family=Poppins:wght@300;400;700;800&family=Roboto:wght@500;900&family=Source+Sans+Pro:wght@300;400&display=swap");
.header, .footer-logo, .footer {
  display: flex;
  align-items: center;
}

.header-rightlinks a, .header-links a {
  padding: 15px;
  font-size: 15px;
  color: white;
  font-family: "Labrada", serif;
}

.header-rightlinks a, .header-links a {
  text-decoration: none;
}
.header-rightlinks a:hover, .header-links a:hover {
  color: #b1aeae;
}

.section-right-cards-main {
  margin: 5px 0px;
  padding: 20px 20px;
  border-radius: 5px;
  font-size: 16px;
}

.footer-links a, .section-right-cards-main-cards-up a {
  text-decoration: none;
  color: rgba(11, 11, 230, 0.712);
}

.section-cards-down .down3 span, .section-cards-down .down2 span, .section-cards-down .down1 span {
  padding: 0 6px;
  border: 1px solid none;
  border-radius: 50%;
  font-size: 9px;
  margin-right: 5px;
}

.header, .footer-logo, .footer {
  display: flex;
  align-items: center;
}

.header-rightlinks a, .header-links a {
  padding: 15px;
  font-size: 15px;
  color: white;
  font-family: "Labrada", serif;
}

.header-rightlinks a, .header-links a {
  text-decoration: none;
}
.header-rightlinks a:hover, .header-links a:hover {
  color: #b1aeae;
}

.section-right-cards-main {
  margin: 5px 0px;
  padding: 20px 20px;
  border-radius: 5px;
  font-size: 16px;
}

.footer-links a, .section-right-cards-main-cards-up a {
  text-decoration: none;
  color: rgba(11, 11, 230, 0.712);
}

.section-cards-down .down3 span, .section-cards-down .down2 span, .section-cards-down .down1 span {
  padding: 0 6px;
  border: 1px solid none;
  border-radius: 50%;
  font-size: 9px;
  margin-right: 5px;
}

main {
  margin: auto;
  font-family: "Labrada", serif;
}

.main-links {
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 15px;
}
.main-links a {
  text-decoration: none;
  padding: 12px;
  color: black;
  font-weight: 100;
}
.main-links a:hover {
  background-color: #f6f8fa;
  border-radius: 6px;
}
.main-links i {
  margin-right: 5px;
  color: gray;
}
.main-links span {
  margin-left: 5px;
  border: none;
  background-color: rgb(212, 208, 208);
  border-radius: 50%;
  padding: 0 5px;
}

hr {
  border: none;
  border-top: 1.5px solid rgb(212, 208, 208);
}

.section {
  display: flex;
  width: 90%;
  margin: 0 50px;
}
.section-left img {
  width: 300px;
  height: 300px;
  border-radius: 70%;
  margin-top: -30px;
}
.section-left h1 {
  font-weight: 500;
  font-size: 30px;
  margin-top: 10px;
}
.section-left-username {
  font-size: 20px;
}
.section-left button {
  width: 100%;
  padding: 7px 0;
  background-color: #f6f8fa;
  border: 1px solid rgb(212, 208, 208);
  border-radius: 5px;
  font-weight: 600;
  margin-top: 15px;
}
.section-left button:hover {
  background-color: #e5e7e9;
  cursor: pointer;
}
.section-left-follow {
  margin-top: 15px;
  font-weight: 100;
  margin-bottom: 20px;
}
.section-left-follow span {
  font-weight: 500;
  font-size: 18px;
}
.section-left a {
  text-decoration: none;
}
.section-right {
  width: 100%;
}
.section-right-article {
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
  align-items: end;
}
.section-right-article-first {
  color: rgb(56, 56, 56);
  font-size: 16px;
  font-family: "Labrada", serif;
  margin-top: 20px;
}
.section-right-article-last {
  color: gray;
  font-size: 13px;
  font-family: "Labrada", serif;
  margin-top: 20px;
}
.section-right-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-left: 53px;
}
.section-right-cards-main {
  border: 1px solid rgb(212, 208, 208);
  width: 400px;
  height: 100px;
}
.section-right-cards-main-cards-up {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.section-right-cards-main-cards-up a:hover {
  text-decoration: underline;
}
.section-right-cards-main-cards-up button {
  padding: 2px 5px;
  border-radius: 30px;
  border: 1px solid rgb(212, 208, 208);
  color: gray;
  font-weight: 600;
}
.section-cards-down {
  display: flex;
  align-items: flex-end;
}
.section-cards-down .down1 span {
  background-color: orangered;
}
.section-cards-down .down2 span {
  background-color: purple;
}
.section-cards-down .down3 span {
  background-color: fuchsia;
}

.end {
  margin: 40px 5%;
}

.header, .footer-logo, .footer {
  display: flex;
  align-items: center;
}

.header-rightlinks a, .header-links a {
  padding: 15px;
  font-size: 15px;
  color: white;
  font-family: "Labrada", serif;
}

.header-rightlinks a, .header-links a {
  text-decoration: none;
}
.header-rightlinks a:hover, .header-links a:hover {
  color: #b1aeae;
}

.section-right-cards-main {
  margin: 5px 0px;
  padding: 20px 20px;
  border-radius: 5px;
  font-size: 16px;
}

.footer-links a, .section-right-cards-main-cards-up a {
  text-decoration: none;
  color: rgba(11, 11, 230, 0.712);
}

.section-cards-down .down1 span, .section-cards-down .down2 span, .section-cards-down .down3 span {
  padding: 0 6px;
  border: 1px solid none;
  border-radius: 50%;
  font-size: 9px;
  margin-right: 5px;
}

.footer {
  height: 70px;
  justify-content: space-evenly;
}
.footer-logo {
  padding-left: 30px;
  gap: 12px;
}
.footer i {
  font-size: 25px;
  color: gray;
}
.footer p {
  font-size: 12px;
  color: gray;
}
.footer-links a {
  padding: 0 15px;
  font-size: 14px;
}
.footer-links a:hover {
  text-decoration: underline;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

.header {
  background-color: black;
  height: 60px;
}
.header-logo {
  font-size: 30px;
  color: white;
  background-color: black;
  padding-left: 10px;
}
.header-search {
  position: relative;
}
.header-search input {
  width: 300px;
  height: 30px;
  background-color: rgb(32, 32, 32);
  border: 1px solid grey;
  margin: 10px;
  border-radius: 5px;
  color: #fff;
  padding: 5px;
}
.header-search i {
  color: white;
  font-size: 20px;
  position: absolute;
  right: 20px;
  bottom: 14px;
}
.header-rightlinks {
  margin-left: auto;
}/*# sourceMappingURL=style.css.map */