@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=La+Belle+Aurore&family=Lobster&family=Noto+Serif+Ahom&family=Poppins:wght@300;400;700;800&family=Roboto:wght@300;400;900&family=Source+Sans+Pro:wght@300;400&display=swap');
@import "variables.scss";
@import "main.scss";
@import "footer.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: $bg;
    
}

.header{
    @extend .flex;
   background-color: black;
    height: 60px;

    &-logo{
        font-size: 30px;
       color: white;
       background-color: black;
       padding-left: 10px;
    }
    &-search{
        position: relative;
        input{
            width: 300px;
            height: 30px;
            background-color: rgb(32, 32, 32);
            border: 1px solid grey;
           margin: 10px;
           border-radius: 5px;
           color: #fff;
           padding: 5px;
         
          }
           i{
            color: white;
            font-size: 20px;
            position: absolute;
            right: 20px;
            bottom: 14px;
        }
        }
        &-links{
            a{
                @extend .group;
                @extend .feature;
               }

             }
      &-rightlinks{
       margin-left: auto;
       a{
        @extend .group;
        @extend .feature;
       }
            
             }
             }
        

             
             